* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Proxima Nova", sans-serif;
    color: #ffffff;
    background: #e5e5e5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.active {
    color: #7f7f7f;
}

img {
    width: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
}

/* Desktop Menu */
.desktop-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.topbar {
    width: 100%;
    height: 32px;
    color: #ffffff;
    background-color: #333333;
    opacity: 0.8;
    font-size: .875em;
    line-height: 1em;
    display: flex;
    align-items: center;
    align-content: space-between;
    padding-top: .55%;
}

.topbar ul {
    display: flex;
}

.navbar {
    margin-left: 6.53%;
}

.navbar
.particulares {
    width: 72px;
    height: 17px;
}

.navbar
.separador1 {
    width: 12px;
    text-align: center;
    color: #ffffff;
}

.navbar
.autonomos {
    width: 147px;
    height: 16px;
}

.navbar
.separador2 {
    width: 12px;
    text-align: center;
    color: #ffffff;
}

.navbar
.empresas {
    width: 62px;
    height: 16px;
}

.help {
    margin-left: 38.19%;
    margin-right: 4.03%;
}

.help
.ayuda {
    width: 41px;
    height: 16px;
}

.help
.separador1 {
    width: 12px;
    text-align: center;
    color: #ffffff;
}

.help
.preguntas {
    width: 136px;
    height: 16px;
}

.help
.separador2 {
    width: 12px;
    text-align: center;
    color: #ffffff;
}

.help
.cobertura {
    width: 65px;
    height: 16px;
}

.locale {
    margin-right: 7.5%;
    justify-items: center;
}

.locale
.locale-es {
    width: 17px;
    height: 18px;
}

.locale
.separador {
    width: 12px;
    text-align: center;
    color: #ffffff;
}

.locale
.locale-eu {
    width: 19px;
    height: 16px;
}

.menu {
    width: 100%;
    height: 100px;
    background-color: #ff5800;
    box-shadow: 4px 4px 25px rgba(37, 37, 37, 0.1);
    display: flex;
    align-items: center;
    align-content: space-between;
}

.logo-euskaltel {
    margin-top: .41%;
    margin-left: 6.53%;
    width: 152px;
    height: 32px;
    display: inline-flex;
}

.logo-euskaltel .logo {
    margin-left: 0.41%;
    width: 100%;
    height: 100%;
}

.call-us {
    margin-left: 54.51%;
    margin-right: 15.14%;
    padding: 29px 11px 28px 16px;
    width: 184px;
    height: 100px;
    background: #333333;
    color: #fff;
    display: flex;
}

.call-us
img {
    width: 100%;
    height: 100%;
}

/* Header */
.header {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(../images/Fondo\ Header.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__text1 {
    font-family: "ITC Avant Garde Gothic Std", sans-serif;
    padding: 5.69% 0 5.76% 6.6%;
    color: #000000;
}

.group-1266 {
    width: 265px;
    height: 90px;
    display: inline-flex;
}

.header__text1
.title {
    position: relative;
    font-size: 36px;
    line-height: 42px;
    margin-top: 19.5%;
    margin-right: .55%;
    width: 100px;
    height: 42px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.group-1266
.image {
    display: flex;
    width: 157px;
    height: 90px;

}

.group-1266
img {
    width: 100%;
    height: auto;
}

.header__text2 {
    margin-top: 7px;
    margin-bottom: 8px;
    width: 552px;
    height: 60px;
    font-size: 24px;
    line-height: 30px;
}

.header__list {
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}

.header__list-item {
    margin-top: 16px;
    height: 24px;
    padding: 0;
}

.header__list-item img {
    margin-right: 8px;
    margin-top: 6px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

.header__text3 {
    position: relative;
    width: auto;
    height: 490px;
    padding-right: 155.13px;
    padding-top: 104px;
}

.header__text3 img {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Tabs */
.tabs {
    margin: 0 auto;
    margin-top: 24px;
    width: 1440px;
    height: 49px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c4c4c4;
    opacity: 0.8;
}

.tabs a {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #ff5800;
}

.option-1 {
    margin-left: 14.03%;
}

.option-4 {
    margin-right: 14.03%;
}

/* What */
.what {
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 32px;
    width: 1036px;
    height: 444px;
}

.what-content {
    width: 1036px;
    height: 444px;
    margin: 0 auto;
}

.what-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.what .title {
    font-family: "ITC Avant Garde Gothic Std", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
}

.what .subtitle {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #333333;
    margin-bottom: 48px;
}

.speed {
    padding: 16px;
    width: 503px;
    height: 148px;
    border-radius: 4px;
    box-shadow: 4px 4px 20px rgba(38, 37, 37, 0.1);
}

.speed .text {
    padding-left: 80px;
    padding-right: 20px;
}

.speed .text .title {
    height: 24px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0px;
}

.speed .text img {
    width: 32px;
    height: 4px;
    margin-bottom: 4px;
}

.speed .text p {
    height: 348px;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.icono {
    position: absolute;
    width: 56px;
    height: 56px;
    text-align: center;
    background-image: url(../images/Ellipse\ 159.png);
    margin-bottom: 30px;
}

.icono img {
    margin: 12px;
    text-align: center;
}

.icono .capa-velocidad {
    width: 20.91px;
    height: 32.01px;
}

.icono .capa-cobertura {
    width: 32px;
    height: 32px;
}

.icono .capa-equipamiento {
    width: 32px;
    height: 32px;
}

.icono .capa-ecologia {
    width: 32px;
    height: 32px;
}

/* How */
.how {
    width: 1440px;
    height: 439px;
    border-radius: 2px;
}

.how .title {
    font-family: "ITC Avant Garde Gothic Std", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    margin-top: 56px;
    margin-bottom: 97.93px;
}

.how .content {
    width: 1036px;
    height: 473px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.content .c1 {
    width: 164px;
    height: 110.99px;
    background-image: url(../images/01.png);
    background-repeat: no-repeat;
    color: #333333;
}

.content .c2 {
    margin-top: 7.93px;
    margin-left: 181px;
    width: 164px;
    height: 110.99px;
    background-image: url(../images/02.png);
    background-repeat: no-repeat;
    color: #7f7f7f;
}

.content .c3 {
    margin-top: 7.93px;
    margin-left: 202px;
    width: 164px;
    height: 110.99px;
    background-image: url(../images/03.png);
    background-repeat: no-repeat;
    color: #7f7f7f;
}

.c-text-1 {
    position: relative;
    top: 45.19px;
    left: 11px;
    font-family: "ITC Avant Garde Gothic Std", sans-serif;
    font-size: 21px;
    line-height: 27px;
    font-weight: bold;
}

.c-text {
    position: relative;
    top: 53.91px;
    left: 26px;
    font-family: "ITC Avant Garde Gothic Std", sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 200px;
    height: 40.43px;
    color: #7f7f7f;
}

.c1 .fondo1 {
    position: relative;
    top: 50px;
    left: 0px;
    width: 24px;
    height: 24px;
    text-align: center;
    background-image: url(../images/Ellipse\ 157.png);
}

.c1 .fondo2 {
    width: 24px;
    height: 24px;
    text-align: center;
    background-image: url(../images/Ellipse\ 156.png);
}

.image-c1 {
    margin-top: 5px;
}

.image-c2 {
    width: 8px;
    height: 6.34px;
    margin-top: 62px;
    margin-left: 22px;
}

.linea-1 {
    position: relative;
    top: 37px;
    left: 10px;
    width: 1019px;
    height: 1.59px;
    background-image: url(../images/Rectangle\ 498.png);
    background-repeat: no-repeat;
}
    
.linea-2 {
    width: 240px;
    height: 1.59px;
    background-image: url(../images/Rectangle\ 499.png);
    background-repeat: no-repeat;
}

.content p {
    position: relative;
    top: 70.93px;
    width: 1036px;
    height: 42.02;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.content span {
    color: #ff5800;
}

/* WiFi */
.wifi {
    display: flex;
    height: 495px;
    width: 1440px;
    margin-bottom: 85px;
}

.wifi img {
    margin: 0 auto;
}

/* Faqs */
.faqs {
    margin: 0 auto;
    width: 1250px;
    height: 269px;
}

.faqs .title {
    font-family: "ITC Avant Garde Gothic Std", sans-serif;
    font-size: 20px;
    line-height: 38px;
    font-weight: bold;
    width: 540px;
    height: 39px;
    color: #333333;
}

.group-973 {
    margin-top: 22px;
    width: 1250px;
    height: 208px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}

.faq {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
}

.faq p {
    margin: 20px 48px 20px 16px;
    font-size: 16px;
    line-height: 24px;
    width: auto;
    text-align: left;
    color: #333;
}

.faq img {
    margin-right: 24px;
    width: 16px;
    height: 16px;
}

/* App */
.app {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1440px;
    height: 406px;
    margin-bottom: 80px;
    background-image: radial-gradient(circle at 21.66% 50%,
            #fafefd 0,
            #f5f5f5 50%,
            #f0eced 100%);
}

.group {
    display: flex;
    flex-wrap: wrap;
    gap: 53px;
    margin-top: 61px;
    margin-left: 328px;
    width: 564px;
    height: 345px;
}

.grupo-630 {
    width: 564px;
    height: 190px;
}

.grupo-630 .title {
    font-family: "ITC Avant Garde Gothic Std", sans-serif;
    font-size: 21px;
    line-height: 27px;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 21px;
    width: 283px;
    height: 29px;
    color: #333333;
}

.grupo-630 .subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 28px;
    width: 564px;
    height: 24px;
    color: #333333;
}

.list {
    display: flex;
    flex-wrap: wrap;
    width: 496px;
    height: 94px;
}

.item {
    display: flex;
    font-size: 16px;
    line-height: 31.33px;
    color: #333333;
}

.item img {
    width: 24px;
    height: 23.21px;
    margin-right: 4px;
}

.store-google {
    height: 60px;
    width: 162px;
    float: left;
}

.store-apple {
    height: 60px;
    padding-top: 10px;
    padding-left: 0;
    float: left;
}

.nexus-portrait-2 {
    margin-right: 206px;
    width: 420px;
    height: 406px;
}

/* Footer */
.upgrade {
    padding: 16px 0;
    width: 1440px;
    height: 80px;
    background: #333333;
}

.group-714 {
    display: flex;
    align-items: center;
    height: 48px;
    width: 512px;
    margin: 0 auto;
}

.group-714 span {
    font-family: "ITC Avant Garde Gothic Std", sans-serif;
    font-size: 21px;
    line-height: 27px;
    width: 292px;
    height: 27px;
}

button:hover {
    cursor: pointer;
}

.btn {
    font-size: 16px;
    text-align: center;
    width: 188px;
    height: 48px;
    border-radius: 4px;
    margin-left: 32px;
}

.btn-orange {
    background: #ff5800;
    color: #ffffff;
}

/*Tablet*/
@media (min-width: 576px) and (max-width: 991.98px) {
/* 729 */
    body,
    .container {
        max-width: 991.98px;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
    }

@media (min-width: 576px) and (max-width: 728px) {
    /* Desktop Menu */
    .desktop-menu,
    .topbar,
    .navbar,
    .help,
    .locale {
        display: flex;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .topbar {
        padding-top: 5px;
        padding-bottom: 5px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .navbar
    ul {
        margin: 0 auto;
    }

    .help
    ul {
        margin: 0 auto;
    }

    .locale
    ul {
        margin: 0 auto;
    }
}

@media (min-width: 729px) and (max-width: 991.98px) {
    /* Desktop Menu */
    .desktop-menu {
        width: 100%;
        display: flex;
        height: auto;
    }

    .topbar {
        display: flex;
        align-items: center;
        justify-items: center;
    }

    .navbar {
        height: auto;
        align-items: center;
        margin-left: 3.81%;
        margin-right: 0;
    }

    .help {
        height: auto;
        align-items: center;
        margin-left: auto;
        margin-right: 3.81%;
    }

    .locale {
        height: auto;
        align-items: center;
        margin-left: 0;
        margin-right: 3.81%;
    }
}
    .menu {
        display: flex;
        align-items: center;
        align-content: space-between;
    }

    .logo-euskaltel {
        margin-left: 3.81%;
    }

    .call-us {
        margin-left: auto;
        margin-right: 15.83%;
    }

    /* Header */
    .header {
        display: flex;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        background-image: url(../images/Fondo\ Header.png);
        background-repeat: no-repeat;
        background-size: auto;
    }

    .header__text1 {
        padding: 10px 0 10px 11px;
        width: auto;
    }

    .group-1266 {
        width: 149.33px;
        height: 52.5px;
    }

    .group-1266
    .title {
        font-size: 23.35px;
        line-height: 27.24px;
    }

    .group-1266 img {
        width: 68%;
        height: 68%;
    }

    .header__text2 {
        margin-top: 7px;
        margin-bottom: 8px;
        width: 100%;
        height: auto;
        font-size: 80%;
        line-height: 80%;
    }
    
    .header__list {
        font-size: 80%;
        line-height: 80%;
        color: #333333;
    }
    
    .header__list-item {
        margin-top: 8px;
        height: 24px;
        padding: 0;
    }
    
    .header__list-item img {
        margin-right: 8px;
        margin-top: 2%;
        height: 8px;
        width: 8px;
        border-radius: 50%;
    }
    
    .header__text3 {
        padding-right: 0;
        margin: 0;
        height: auto;
    }

    .header__text3
    img {
        width: 100%;
        height: auto;
    }

    /* WiFi */
    .wifi {
        width: 100%;
        height: auto;
        margin-bottom: 42px;
    }

    /* Tabs */
    .tabs {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        margin: 0;
        margin-top: 12px;
        height: auto;
    }

    .tabs
    a {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .tabs
    .option-1 {
        margin-left: 5px;
    }

    .tabs
    .option-4 {
        margin-right: 5px;
    }

    /* What */
    .what {
        width: 100%;
        height: auto;
        margin: 0;
        margin-top: 32px;
        margin-bottom: 16px;
    }

    .what-content {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .what-container {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .speed {
        width: 100%;
    }

    /* How */
    .how {
        width: 100%;
        height: 439px;
        border-radius: 2px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .how .title {
        font-family: "ITC Avant Garde Gothic Std", sans-serif;
        font-size: 24px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        color: #000000;
        margin-top: 56px;
        margin-bottom: 97.93px;
    }

    .how .content {
        width: 100%;
        height: 473px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .content .c1 {
        width: 164px;
        height: 110.99px;
        background-image: url(../images/01.png);
        background-repeat: no-repeat;
        color: #333333;
    }

    .content .c2 {
        margin-top: 7.93px;
        margin-left: auto;
        width: 164px;
        height: 110.99px;
        background-image: url(../images/02.png);
        background-repeat: no-repeat;
        color: #7f7f7f;
    }

    .content .c3 {
        margin-top: 7.93px;
        margin-left: auto;
        width: 164px;
        height: 110.99px;
        background-image: url(../images/03.png);
        background-repeat: no-repeat;
        color: #7f7f7f;
    }

    .c-text-1 {
        position: relative;
        top: 45.19px;
        left: 11px;
        font-family: "ITC Avant Garde Gothic Std", sans-serif;
        font-size: 21px;
        line-height: 27px;
        font-weight: bold;
    }

    .c-text {
        position: relative;
        top: 53.91px;
        left: 26px;
        font-family: "ITC Avant Garde Gothic Std", sans-serif;
        font-size: 80%;
        line-height: 24px;
        width: 200px;
        height: 40.43px;
        color: #7f7f7f;
    }

    .c1 .fondo1 {
        position: relative;
        top: 50px;
        left: 0px;
        width: 24px;
        height: 24px;
        text-align: center;
        background-image: url(../images/Ellipse\ 157.png);
    }

    .c1 .fondo2 {
        width: 24px;
        height: 24px;
        text-align: center;
        background-image: url(../images/Ellipse\ 156.png);
    }

    .linea-1 {
        position: relative;
        top: 37px;
        left: 10px;
        min-width: 50%;
        max-width: 1019px;
        width: 100%;
        height: 1.59px;
        background-image: url(../images/Rectangle\ 498.png);
        background-repeat: no-repeat;
    }
        
    .linea-2 {
        min-width: 50%;
        max-width: 240px;
        width: 100%;
        height: 1.59px;
        background-image: url(../images/Rectangle\ 499.png);
        background-repeat: no-repeat;
    }

    .image-c1 {
        margin-top: 5px;
    }

    .image-c2 {
        width: 8px;
        height: 6.34px;
        margin-top: 62px;
        margin-left: 22px;
    }

    .content p {
        position: relative;
        top: 70.93px;
        min-width: 576px;
        max-width: 100%;
        height: 42.02;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
    }

    .content span {
        color: #ff5800;
    }

    /* Faqs */
    .faqs {
        width: 100%;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .group-973 {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    /* App */
    .app {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .app
    .group,
    .grupo-630 {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .grupo-630
    .title {
        width: 100%;
        font-size: medium;
        margin-top: 40px;
    }

    .grupo-630
    .subtitle {
        width: 100%;
        font-size: medium;
    }

    .grupo-630
    .list {
        width: 100%;
    }

    .store-apple {
        margin-right: 10px;
    }
    
    .group
    .download {
        margin: 0 auto;
    }

    .nexus-portrait-2 {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .nexus-portrait-2
    img {
        width: auto;
        height: 100%;
    }

    /* Footer */
    footer {
        display: flex;
        width: 100%;
        margin-top: 40px;
    }

    .upgrade {
        width: 100%;
        height: auto;
    }

    .group-714 {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        align-items: center;
        justify-items: center;
        align-content: space-around;
    }

    .btn {
        margin: 0;
    }
}
/*fin tablet*/

/*movil*/
@media (max-width: 575.98px) {

    body,
    .container {
        display: flex;
        flex-wrap: wrap;
        max-width: 575.98px;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    /* Desktop Menu */
    .desktop-menu,
    .topbar,
    .navbar,
    .help,
    .locale {
        display: flex;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .topbar {
        padding-top: 5px;
        padding-bottom: 5px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .navbar
    ul {
        margin: 0 auto;
    }

    .help
    ul {
        margin: 0 auto;
    }

    .locale
    ul {
        margin: 0 auto;
    }

    .menu {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
    }

    .menu
    .logo-euskaltel {
        margin: 0 auto;
        width: 40%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .call-us {
        display: flex;
        flex-wrap: nowrap;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
        background: #000000;
    }

    .call-us
    img {
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 50%;
    }

    /* Header */
    .header {
        max-width: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
    }

    .header__text1 {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        padding: 10px;
        width: auto;
    }

    .group-1266
    .title {
        margin-top: 22%;
        margin-right: 5px;
        width: auto;
    }

    .group-1266
    .image {
        width: 100%;
        height: auto;
    }

    .group-1266
    img {
        width: 100%;
        height: auto;
    }

    .header__text2 {
        width: 100%;
        font-size: 20px;
        line-height: 20px;
    }

    .header__list {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .header__list-item {
        margin: 0;
        width: 100%;
        height: auto;
    }

    .header__text3 {
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }

    .header__text3
    img {
        width: 100%;
        height: auto;
    }

    .group-1266 {
        width: 50%;
    }

    /* Tabs */
    .tabs {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        margin: 0;
        margin-top: 12px;
        height: auto;
    }

    .tabs
    a {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .tabs
    .option-1 {
        margin-left: 5px;
    }

    .tabs
    .option-4 {
        margin-right: 5px;
    }

    /* What */
    .what {
        width: 100%;
        height: auto;
        margin: 0;
        margin-top: 32px;
        margin-bottom: 16px;
    }

    .what-content {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .what-container {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .speed {
        width: 100%;
    }

    /* How */
    .how,
    .how
    .content {
        width: 100%;
        height: auto;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .how
    .content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3 1fr);
        gap: 20px;
        height: auto;
        margin-bottom: 32px;
    }

    .content
    .c1 {
        width: 100%;
        margin: 0;
        height: 200px;
    }

    .c1
    .fondo1 {
        top: 45px;
        left: -10px;
    }

    .c1
    .linea-1 {
        display: none;
    }

    .c-text-1 {
        display: flex;
        top: 45.19px;
        left: 11px;
        font-size: 21px;
        line-height: 27px;
    }

    .content
    p {
        position: relative;
        width: 100%;
        top: 20px;
        left: 10px;
        width: auto;
        text-indent: 20px;
    }

    .content
    .c2 {
        margin: 0;
    }

    .image-c2
    img {
        position: relative;
        top: 0;
        left: -26px;
    }

    .content
    .c3 {
        margin: 0;
    }

    /* WiFi */
    .wifi {
        width: 100%;
        height: auto;
        margin-bottom: 42px;
    }

    /* Faqs */
    .faqs {
        width: 100%;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .group-973 {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    /* App */
    .app {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .app
    .group,
    .grupo-630 {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .grupo-630
    .title {
        width: 100%;
        font-size: medium;
        margin-top: 40px;
    }

    .grupo-630
    .subtitle {
        width: 100%;
        font-size: medium;
    }

    .grupo-630
    .list {
        width: 100%;
    }

    .store-apple {
        margin-right: 10px;
    }
    
    .group
    .download {
        margin: 0 auto;
    }

    .nexus-portrait-2 {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .nexus-portrait-2
    img {
        width: 100%;
        height: auto;
    }

    /* Footer */
    footer {
        display: flex;
        width: 100%;
        margin-top: 40px;
    }

    .upgrade {
        width: 100%;
        height: auto;
    }

    .group-714 {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        align-items: center;
        justify-items: center;
        align-content: space-around;
    }

    .btn {
        margin: 0;
    }
}
/*fin movil*/
